

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cuerpo
{
    padding-left: 1rem;
    padding-right: 1rem;
}


nav 
{
    background-color: #3F51B5;
}


/* Encabezado */
header .Borde
{
    background-color: #6c78c7;
    padding: 13px;
    
}

/* Pestaña de navegación */


@media screen and (min-width: 340px) 
{
    .Navmenu
    {
        display: flex;
    }
    .Desktop
    {
        display: none;
    }
    .navegation, .Separado, .Developers
    {
        flex-direction: column;
        align-items: center;
    }
    .tabla_imagen,.Imagen2, .pegado, .imagen2
    {
        width: 100%;
    }
    .container 
    {
        flex-direction: column-reverse;
    }
    .cuerpo
    {
        padding: 1rem;
    }

    body {
        font-family: "Poppins", sans-serif;
    }
      
    .Navmenu {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    
    .navHB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    }
    
    .Navmenu .NavItems {
    display: flex;
    }
    
    .Navmenu .navHB li {
    list-style: none;
    }
    
    .Navmenu .navHB a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 7px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    }
    
    .Navmenu .navHB a:hover{
        font-weight: bolder;
    }
    
    .navHB {
    display: block;
    position: relative;
    height: 60px;
    }
    
    .navHB .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
    }
    
    .navHB .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    .navHB .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
    }
    
    .navHB .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    }
    
    .navHB .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    }
    
    .navHB .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    }
    
    .Navmenu .NavItems {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px #3F51B5;
    height: 100vh;
    width: 150%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    }
    
    .Navmenu .NavItems li {
    padding: 10px;
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    }
    
    .navHB input[type="checkbox"]:checked ~ .NavItems {
    transform: translateX(0);
    }
    
    .navHB input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    }
    
    .navHB input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    }
    
    .navHB input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    }

    .navHB input[type="checkbox"]:checked ~ .logo{
    display: none;
    }


}
@media screen and (min-width: 768px) 
{
    .Navmenu
    {
        display: none;
    }
    .Desktop
    {
        display: block;
    }
    .navegation, .Separado, .Developers
    {
        flex-direction: row;
        align-items: center;
    }
    .cuerpo
    {
        padding: 2rem;
    }
    .navegation 
    {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-around;
    }

    .navegation li 
    {
        padding: 10px;
    }

    .navegation li a 
    {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        padding: 7px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }
}
@media screen and (min-width: 1024px) 
{
    .Navmenu
    {
        display: none;
    }
    .Desktop
    {
        display: block;
    }
    .navegation, .Separado, .Developers
    {
        flex-direction: row;
        align-items: center;
    }
    .container 
    {
        flex-direction: row;
    }
    .cuerpo
    {
        padding: 2rem;
    }

    .navegation 
    {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        display: flex;
        justify-content: space-around;
    }

    .navegation li 
    {
        padding: 10px;
    }

    .navegation li a 
    {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        padding: 7px;
        border-radius: 15px;
        transition: background-color 0.3s ease;
    }
}

.navegation li a:hover 
{
    background-color: #212121;
}

.navegation ul 
{
    margin: 0px;
}

.navegation:focus
{
    background: #0000;
    color: rebeccapurple;
}

.navegation li a:active
{

    color: rgb(0, 255, 106);
}

.active
{
    background-color: darkblue;
}

/* Cuerpo */
body
{
    font-family:Helvetica, Arial, sans-serif; 
    margin: 0;
    background-color: #C5CAE9;
}

section h1
{
    font-size: 30px; 
    text-transform: uppercase; 
    margin-bottom: 12px; 
    margin-top: 30px;
    margin-left: 40px;
}
section h2
{
    font-size: 25px; 
    text-transform: uppercase; 
    margin-bottom: 12px; 
    margin-top: 45px;
    margin-left: 40px;
} 

.Separado
{
    display: flex;
    flex-wrap: wrap;
}

.pegado
{
    
    flex: 1;
}

.pegado p
{
    width: 68%;
    font-size: 17px;
    text-align: left;
    padding: 10px 44px 75px 45px;
}


.h3
{
    font-size: 23px; 
    text-transform: uppercase; 
    margin-bottom: 12px; 
    margin-top: 50px;
    margin-left: 40px;
} 

.pegado2 p
{
    font-size: 17px;
    text-align: left;
    padding: 10px 44px 75px 45px;
    height: 150px;
    width: 1160px;
}

.Imagen img
{
    display: inline-block; 
    width: 300px;
    border-radius: 150px;
    margin: 50px 15px;
}

.Imagen
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ozono */

.imagen2
{
    flex: 1;
}

.imagen2 img
{
    width: 350px;
}

.tabla_imagen
{
    flex: 1;

}

.link
{
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
}
/* Ozono */

.container 
{
    display: flex;
    flex-wrap: wrap;
}


.Imagen2
{
    flex: 1;
}

.Imagen2 img
{
    display: inline-block; 
    width: 250px;
    border-radius: 200px;
    margin: 50px 15px;
}

/* 3D */

.pegado3
{
    display: inline-block; 
    display: flex;
    flex-direction: column;
}


.pegado3 p
{
    font-size: 17px;
    text-align: left;
    padding: 10px 44px 75px 45px;
}


.IMG
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.IMG img
{
    display: inline-block; 
    width: 850px;
    border-radius: 10px;
    margin: 50px 15px;
}

.IMG2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.IMG2 img
{
    display: inline-block; 
    width: 850px;
    border-radius: 10px;
    margin: 50px 15px;
    margin-top: 140px;
}
/* 3D */

/* ¨Piña */
.pegado2-01 p
{
    font-size: 17px;
    padding: 1rem;
}

.pegado2-01 ul
{
    font-size: 17px;
    text-align: left;
    width: 68%;
}
/* ¨Piña */

/* Pie de Pagina */
footer
{
    background: #3F51B5;
}

.Developers
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.Developers li 
{
    padding: 10px;
}

.Developers li p
{
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 15px;
}

.utn img
{
    width: 200px;
    border-radius: 50px;
}

/*Tabla*/

td
{
    border: 1px solid black;

    border-collapse: collapse;

    text-align: center;

    padding: 3px;

}
th
{
    border: 1px solid black;
    background-color: red;
}
table
{

    padding: 20px;

    border: 1px solid black;

    border-collapse: collapse;

    text-align: center;

    margin-left: 20px

}

thead 
{

    font-weight: bold;

}

tbody tr:nth-child(even) 
{

background-color: white;

}

tbody tr:nth-child(odd) 
{

background-color: lightgrey;

}

tfoot 
{

    background-color:#f4fdcb;
}



